.books-container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.books-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-text);
    margin-bottom: 0;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin: 20px 20px 0 0;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-body);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
}

.book-item:hover {
    transform: translateY(-5px);
}

.book-item img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book-item p {
    margin: 5px 0 0;
    font-size: 14px;
    color: var(--primary-text);
}

.book-title {
    font-weight: bold;
    font-size: 16px;
}

.book-author {
    font-size: 14px;
    color: #666;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.reviews-list {
    /* max-height: 200px; */
    overflow-y: auto;
}

.custom-modal .modal-dialog {
    max-width: 60%;
}

.modal-content-wrapper {
    display: flex;
    align-items: flex-start;
}

.book-image {
    width: 30%;
    height: auto; 
    margin-right: 20px;
    border-radius: 5px;
}

.book-info {
    flex: 1;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: #000;
    border: none;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.delete-button:hover {
    color: darkred;
}

.delete-review-button{
    background-color: transparent;
    border: none;
}

.book-details {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.isRead{
    margin: 0.5rem 0;
}